<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome To ShopX!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div style="padding: 20px">
      <p>Hello,</p>
      <p>
        Congratulations and a warm welcome to ShopX! We are thrilled to have you
        on board as our newest user.
      </p>
      <p>
        At ShopX, our mission is to empower entrepreneurs like you with the
        tools and resources necessary to bring your e-commerce vision to life.
      </p>
      <p>
        Get ready to embark on an exciting journey of entrepreneurship and
        success!
      </p>
      <p>
        We are set to launch on the 18th of September, but your are free to play
        around with the demo version we have running.
      </p>
      <p>Note that you will have to create a new account once we launch.</p>
      <p>If you would like to leave a feedback you can reply to this email.</p>
      <p>We very much appreciate and value as our customer.</p>
      <p>Happy selling!</p>
      <p>Best regards,</p>
      <p>Raheem</p>
      <a href="https://myshopx.net">Visit Website</a>
    </div>

    <script src="" async defer></script>
  </body>
</html>
