.input {
  max-width: 200px;
  padding: 15px;
  font-size: 17px;
  color: black;
  border-radius: 0.4em;
  border: 2px solid #fff;
}

.button {
  border: none;
  background-color: #1363df;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 17px;
  font-size: 17px;
  color: #fff;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

.scroll {
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
